{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

  <title>Add Contact</title>
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'css/add_contact.css' %}">

</head>
<body>
  <div class="container">
    <h1>Add Contact</h1>
    <form method="post">
      {% csrf_token %}
      <label for="{{ form.name.id_for_label }}">Name:</label>
      {{ form.name }}

      <label for="{{ form.email.id_for_label }}">Email:</label>
      {{ form.email }}

      <label for="{{ form.address.id_for_label }}">Address:</label>
      {{ form.address }}

      <label for="{{ form.phone_numbers.id_for_label }}">Phone Numbers:</label>
      <div id="phone_numbers">
        {% for phone in form.phone_numbers %}
          <div class="phone-number">
            {{ phone }}
            <button type="button"
                    class="delete-phone">Delete
            </button>
          </div>
        {% endfor %}
      </div>

      <button type="button"
              id="add-phone">Add Phone Number
      </button>
      <button type="submit">Add Contact</button>
    </form>
  </div>

  <script src="{% static 'js/add_contact.js' %}">
  </script>
</body>
</html>
