{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>Contact Details</title>

  <link rel="stylesheet"
        type="text/css"
        href="{% static 'css/contact_detail.css' %}">
</head>
<body>
  <div class="container">
    <h1>Contact Details</h1>
    <div class="contact-details">
      <label>Name:</label>
      <p>{{ contact.name }}</p>

      <label>Email:</label>
      <p>{{ contact.email }}</p>

      <label>Address:</label>
      <p>{{ contact.address }}</p>
    </div>

    <h2>Phone Numbers:</h2>
    {% for phone in contact.contact_phone.all %}
      <div class="phone-number">
        <p>{{ phone.phone }}</p>
      </div>
    {% endfor %}
  </div>
</body>
</html>
