{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact List</title>

  <link rel="stylesheet"
        type="text/css"
        href="{% static 'css/contact_list.css' %}">
</head>
<body>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
      <tr>
        <td>{{ contact.id }}</td>
        <td>
          <a href="{% url 'contact_detail' contact.id %}">{{ contact.name }}</a>
        </td>
        <td>{{ contact.email }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</body>
</html>
